Server/.flows.json.backup
[
    {
        "id": "2c7549e3267c360c",
        "type": "tab",
        "label": "Graden IoTs",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3992c3350543bb36",
        "type": "tab",
        "label": "RecordData",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b1ec363aa46d36b",
        "type": "tab",
        "label": "Login",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7883bef42eddac18",
        "type": "tab",
        "label": "Setting",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9f5704f675d02eb6",
        "type": "tab",
        "label": "MachineLearning",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "071ee232d3ea60d6",
        "type": "tab",
        "label": "Notification",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "83c672bb152df239",
        "type": "tab",
        "label": "API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e5980765b3b01db",
        "type": "tab",
        "label": "ControlUI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7b18e51371b9da08",
        "type": "group",
        "z": "2c7549e3267c360c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a3021a82fd27f8e2",
            "5231dec03adb51bc",
            "2a95fa4a38c4fb04",
            "601417bc7425d784",
            "ecd7b413b21d5290",
            "fa188f19d4499589",
            "3bf9b677fa3a6fe4",
            "314216c91649e2e1",
            "9bedd419c212be44",
            "ac34c487c9382149",
            "fd18b2e083b8a9cb"
        ],
        "x": 654,
        "y": 1239,
        "w": 1072,
        "h": 222
    },
    {
        "id": "f73c8450eb6f872d",
        "type": "group",
        "z": "2c7549e3267c360c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3b15acf13229117a",
            "88ebd0b5982c6173",
            "92ab3d3c2b1c3fbf",
            "e34b931b19f4a222",
            "ace7a48c3d43b14d",
            "0dfa56dda2db7a61",
            "2817501e743bf37e",
            "e65f07bf577dd136",
            "410f44658d8cc001",
            "a6a8054a32547bf3",
            "9b205ea7cb89e8b5"
        ],
        "x": 2134,
        "y": 1239,
        "w": 892,
        "h": 162
    },
    {
        "id": "0768b1be5520f542",
        "type": "group",
        "z": "2c7549e3267c360c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "daa58ef1a2cbf5f6",
            "2909d19c6a4dc2d1",
            "a132ec7ff53dad98",
            "c2e1b8d4e1d28f98",
            "560fa9e16674210d",
            "e3cb737b90d7a46e",
            "a3aa364077da9daa",
            "edb144550d507935"
        ],
        "x": 694,
        "y": 819,
        "w": 522,
        "h": 162
    },
    {
        "id": "023e8dd112056349",
        "type": "group",
        "z": "2c7549e3267c360c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2eae1b674da8ac56",
            "acc6064e2a03de44",
            "a25a23be5ee49cf3",
            "3196f6a9a464587e",
            "b39117e482f11951",
            "1baa948961d6858b",
            "1f74a850eaccfd6a",
            "bdcd2c72ac2df9aa",
            "33faa9d40ae28c8d",
            "6277b121ad5d390b",
            "f57d3fcd46625af5",
            "2f653756cb17ab6c",
            "288b9e12f42a0db8",
            "8d036ecfab9b4dd2",
            "90d19f6ec7300101",
            "254800bc9fc77a08",
            "47b36bb436f6002a",
            "b175a675c6e62914",
            "ced982086979f9e5",
            "f4010ba443c8dfe3"
        ],
        "x": 2134,
        "y": 1459,
        "w": 1112,
        "h": 442
    },
    {
        "id": "91e380ed61976399",
        "type": "group",
        "z": "2c7549e3267c360c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "46e148d07ac6102f",
            "4a66da85d87be410",
            "6528fd5d3ee8d0b3",
            "1bfe123ef8d5b84f",
            "4dc9d46353f6c0b0",
            "1158fc32c2f67da5",
            "75e6d8186dab0494",
            "d77f089beb5368a9",
            "a93aed49adb55830",
            "9f33a0f28b9b0a97",
            "aba749fbac219d65",
            "19f86b3acfb3afad"
        ],
        "x": 2134,
        "y": 1919,
        "w": 772,
        "h": 262
    },
    {
        "id": "db7606b5814f193e",
        "type": "group",
        "z": "2c7549e3267c360c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "096b9ba5e71e12e3",
            "10f484760b87e4b4",
            "cedc9c3de9e09dc2",
            "a7f49ba1651975be",
            "99cfab1e7104b787",
            "c763c99dddac6023",
            "d1c10cd53e422046",
            "fc41757ebb3851df",
            "39d8fcc6b201b851",
            "e24a9c333204f2ae",
            "e04bfbdd7baf05c9",
            "c2093c2969c1d22e"
        ],
        "x": 2144,
        "y": 2199,
        "w": 762,
        "h": 282
    },
    {
        "id": "75fef17815e67be0",
        "type": "group",
        "z": "7883bef42eddac18",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "876e2e8dcb660b79",
            "e802b42b2a987660",
            "446d2937a4a67fee",
            "dc681dfa5f79dd27",
            "7eca76ab547f9913",
            "f5f2f5a6cdc5859e"
        ],
        "x": 574,
        "y": 1539,
        "w": 812,
        "h": 222
    },
    {
        "id": "8f58b7ee2d4d3590",
        "type": "group",
        "z": "3992c3350543bb36",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "43c5c683542dbb8d",
            "79f057dc97cd535d",
            "74104dce0719d738",
            "40f97c3c6eb2554b",
            "037540e53c9b4ebd",
            "9ef2c6708bf36923"
        ],
        "x": 1514,
        "y": 499,
        "w": 472,
        "h": 462
    },
    {
        "id": "2e4c42bec1bce456",
        "type": "group",
        "z": "3992c3350543bb36",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5fe6711eefb9e865",
            "0e6d4dde7f49cd10",
            "3f3da21ff2f1feef",
            "ce9f824367f96706",
            "7d78fd684bf83575",
            "8a3b836e5d655ea4"
        ],
        "x": 674,
        "y": 579,
        "w": 552,
        "h": 202
    },
    {
        "id": "0c68598919b2722c",
        "type": "group",
        "z": "4e5980765b3b01db",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c6cb4b3c72987c76",
            "1d09a7ffaf20c3e1",
            "0655ae150a96f5b7",
            "c914ecd72b5dca3c"
        ],
        "x": 734,
        "y": 259,
        "w": 482,
        "h": 162
    },
    {
        "id": "dded3b9f8c330919",
        "type": "group",
        "z": "7883bef42eddac18",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "93762de513da450c",
            "2cd67180572b7ffd",
            "024ab3dc8bfda136",
            "1608247743a21848",
            "14e5fbbe7a12e26c",
            "51102038c4bd9b0b",
            "9cb777bf3c98be66",
            "031f824eb2687ed2"
        ],
        "x": 114,
        "y": 1139,
        "w": 462,
        "h": 202
    },
    {
        "id": "b2cac071bf1e45a3",
        "type": "group",
        "z": "7883bef42eddac18",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c4cbda325e0bd937",
            "9131437184a8754c",
            "e0a466cba41379e0",
            "a3fe33bdf652e21e",
            "7b2b68a60bb57afe",
            "fdc1c3fe0c3f6fe3",
            "27348669113d5e55",
            "c30c83c2e83b4163",
            "24cee6f879b25261",
            "8f601bb2eb48c76e"
        ],
        "x": 114,
        "y": 299,
        "w": 512,
        "h": 262
    },
    {
        "id": "b838c7a2ac666cfb",
        "type": "group",
        "z": "7883bef42eddac18",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "08696175be21e115",
            "e05bab43800f6790",
            "af49d308952e9952",
            "b61dab2e70dd53f7"
        ],
        "x": 1294,
        "y": 999,
        "w": 552,
        "h": 122
    },
    {
        "id": "f532af6f73a050bd",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "539bf8a0140978c5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "ce929204a5830711",
        "type": "ui_group",
        "name": "Current Environment Parameters",
        "tab": "539bf8a0140978c5",
        "order": 2,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1da193d598dc97eb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "https://test.mosquitto.org/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cc0ce2d6280183e7",
        "type": "ui_group",
        "name": "Activities",
        "tab": "539bf8a0140978c5",
        "order": 3,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "571240d3094e1f9b",
        "type": "ui_tab",
        "name": "Login",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "6dc0b01ed2a0513b",
        "type": "ui_group",
        "name": "Login",
        "tab": "571240d3094e1f9b",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9bdf6ea296ef5609",
        "type": "database-config",
        "name": "My Database",
        "authType": "email",
        "claims": {},
        "createUser": false,
        "useClaims": false
    },
    {
        "id": "4633915231db9f2e",
        "type": "ui_tab",
        "name": "RecordData",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "6b0fc43246790e58",
        "type": "ui_group",
        "name": "RecordData",
        "tab": "4633915231db9f2e",
        "order": 2,
        "disp": false,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "45166d28cb8c42fd",
        "type": "ui_tab",
        "name": "Setting",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "86c7b1f9cabac475",
        "type": "ui_group",
        "name": "ConfigureUser",
        "tab": "45166d28cb8c42fd",
        "order": 2,
        "disp": false,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "645689cb032a4e45",
        "type": "ui_group",
        "name": "Setting",
        "tab": "45166d28cb8c42fd",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6aab20ed1322aed9",
        "type": "ui_group",
        "name": "Name",
        "tab": "539bf8a0140978c5",
        "order": 1,
        "disp": false,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b89b7c34fae54a61",
        "type": "ui_group",
        "name": "Name",
        "tab": "4633915231db9f2e",
        "order": 1,
        "disp": false,
        "width": 25,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ce7f5bd5a0d36716",
        "type": "ui_spacer",
        "z": "2c7549e3267c360c",
        "name": "spacer",
        "group": "cc0ce2d6280183e7",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "5a9842043cb87da0",
        "type": "ui_spacer",
        "z": "2c7549e3267c360c",
        "name": "spacer",
        "group": "cc0ce2d6280183e7",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "a012a0c5f387bb01",
        "type": "ui_spacer",
        "z": "2c7549e3267c360c",
        "name": "spacer",
        "group": "cc0ce2d6280183e7",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "e6c1acfed343481e",
        "type": "ui_group",
        "name": "GmailChange",
        "tab": "45166d28cb8c42fd",
        "order": 4,
        "disp": false,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5e2005d86ec1976f",
        "type": "ui_spacer",
        "z": "3992c3350543bb36",
        "name": "spacer",
        "group": "6b0fc43246790e58",
        "order": 2,
        "width": 23,
        "height": 1
    },
    {
        "id": "2173d3fd714c8fe2",
        "type": "ui_spacer",
        "z": "3992c3350543bb36",
        "name": "spacer",
        "group": "6b0fc43246790e58",
        "order": 5,
        "width": 9,
        "height": 1
    },
    {
        "id": "7b1d7555c83aecc2",
        "type": "ui_spacer",
        "z": "3992c3350543bb36",
        "name": "spacer",
        "group": "6b0fc43246790e58",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "9aa2c284ac2c4466",
        "type": "ui_spacer",
        "z": "3992c3350543bb36",
        "name": "spacer",
        "group": "6b0fc43246790e58",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "aa062fcbf6da408b",
        "type": "ui_spacer",
        "z": "3992c3350543bb36",
        "name": "spacer",
        "group": "6b0fc43246790e58",
        "order": 11,
        "width": 9,
        "height": 1
    },
    {
        "id": "3df901b014d88607",
        "type": "ui_group",
        "name": "Phone",
        "tab": "45166d28cb8c42fd",
        "order": 3,
        "disp": false,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cddbdd4d91c8d414",
        "type": "ui_spacer",
        "z": "7883bef42eddac18",
        "name": "spacer",
        "group": "86c7b1f9cabac475",
        "order": 2,
        "width": 23,
        "height": 1
    },
    {
        "id": "72bf34c253c2336f",
        "type": "ui_spacer",
        "z": "7883bef42eddac18",
        "name": "spacer",
        "group": "3df901b014d88607",
        "order": 2,
        "width": 23,
        "height": 1
    },
    {
        "id": "fbddcbd6d7ed84e0",
        "type": "ui_spacer",
        "z": "7883bef42eddac18",
        "name": "spacer",
        "group": "e6c1acfed343481e",
        "order": 2,
        "width": 23,
        "height": 1
    },
    {
        "id": "2eae1b674da8ac56",
        "type": "function",
        "z": "2c7549e3267c360c",
        "g": "023e8dd112056349",
        "name": "Humi",
        "func": "var logic = context.get(\"logic\") || false;\nvar data = context.get(\"data\") || 0;\n\nif (msg.topic == \"error_dht\"){\n    logic = msg.payload;\n    msg.payload = data;\n    context.set(\"logic\",logic);\n}\n\nif (msg.topic == \"humi\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n}    \n    if(logic == true)\n        msg.payload = 0;\nmsg.topic = \"Data\"; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2310,
        "y": 1720,
        "wires": [
            [
                "acc6064e2a03de44",
                "2f653756cb17ab6c"
            ]
        ]
    },
    {
        "id": "acc6064e2a03de44",
        "type": "ui_gauge",
        "z": "2c7549e3267c360c",
        "g": "023e8dd112056349",
        "name": "Humidity_App",
        "group": "ce929204a5830711",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2560,
        "y": 1720,
        "wires": []
    },
    {
        "id": "a25a23be5ee49cf3",
        "type": "function",
        "z": "2c7549e3267c360c",
        "g": "023e8dd112056349",
        "name": "Temp",
        "func": "var logic = context.get(\"logic\") || false;\nvar data = context.get(\"data\") || 0;\n\nif (msg.topic == \"error_dht\"){\n    logic = msg.payload;\n    msg.payload = data;\n    context.set(\"logic\",logic);\n}\n\nif (msg.topic == \"temp\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n}    \n    if(logic == true)\n        msg.payload = 0;\nmsg.topic = \"Data\";   \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2310,
        "y": 1640,
        "wires": [
            [
                "3196f6a9a464587e",
                "f57d3fcd46625af5"
            ]
        ]
    },
    {
        "id": "3196f6a9a464587e",
        "type": "ui_gauge",
        "z": "2c7549e3267c360c",
        "g": "023e8dd112056349",
        "name": "Temperature_App",
        "group": "ce929204a5830711",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#002aff",
            "#eeff00",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2570,
        "y": 1640,
        "wires": []
    },
    {
        "id": "3b15acf13229117a",
        "type": "ui_switch",
        "z": "2c7549e3267c360c",
        "g": "f73c8450eb6f872d",
        "name": "",
        "label": "Light",
        "tooltip": "",
        "group": "cc0ce2d6280183e7",
        "order": 2,
        "width": 12,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "fa-sun-o",
        "oncolor": "Yellow",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "fa-moon-o",
        "offcolor": "Blue",
        "animate": true,
        "className": "",
        "x": 2350,
        "y": 1280,
        "wires": [
            [
                "2817501e743bf37e"
            ]
        ]
    },
    {
        "id": "88ebd0b5982c6173",
        "type": "mqtt out",
        "z": "2c7549e3267c360c",
        "g": "f73c8450eb6f872d",
        "name": "Check",
        "topic": "GardenIoT/LED",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1da193d598dc97eb",
        "x": 2950,
        "y": 1280,
        "wires": []
    },
    {
        "id": "92ab3d3c2b1c3fbf",
        "type": "ui_switch",
        "z": "2c7549e3267c360c",
        "g": "f73c8450eb6f872d",
        "name": "",
        "label": "Pump",
        "tooltip": "",
        "group": "cc0ce2d6280183e7",
        "order": 3,
        "width": 12,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "fa-tint",
        "oncolor": "blue",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "fa-fire",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 2350,
        "y": 1360,
        "wires": [
            [
                "e65f07bf577dd136"
            ]
        ]
    },
    {
        "id": "e34b931b19f4a222",
        "type": "mqtt out",
        "z": "2c7549e3267c360c",
        "g": "f73c8450eb6f872d",
        "name": "Check",
        "topic": "GardenIoT/Pump",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1da193d598dc97eb",
        "x": 2950,
        "y": 1360,
        "wires": []
    },
    {
        "id": "46e148d07ac6102f",
        "type": "function",
        "z": "2c7549e3267c360c",
        "g": "91e380ed61976399",
        "name": "LDR",
        "func": "var logic = context.get(\"logic\") || false;\nvar data = context.get(\"data\") || 0;\n\nif (msg.topic == \"error_light\"){\n    logic = msg.payload;\n    msg.payload = data;\n    context.set(\"logic\",logic);\n}\n\nif (msg.topic == \"ligh\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n}    \n    if(logic == true)\n        msg.payload = 0;\nmsg.topic = \"Data\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2370,
        "y": 2060,
        "wires": [
            [
                "4a66da85d87be410",
                "75e6d8186dab0494"
            ]
        ]
    },
    {
        "id": "4a66da85d87be410",
        "type": "ui_gauge",
        "z": "2c7549e3267c360c",
        "g": "91e380ed61976399",
        "name": "LDR_App",
        "group": "ce929204a5830711",
        "order": 7,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Light",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#825f95",
            "#ff4d00",
            "#fff70a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2600,
        "y": 2100,
        "wires": []
    },
    {
        "id": "096b9ba5e71e12e3",
        "type": "function",
        "z": "2c7549e3267c360c",
        "g": "db7606b5814f193e",
        "name": "Soil_Moisture",
        "func": "var logic = context.get(\"logic\") || false;\nvar data = context.get(\"data\") || 0;\n\nif (msg.topic == \"error_soil\"){\n    logic = msg.payload;\n    msg.payload = data;\n    context.set(\"logic\",logic);\n}\n\nif (msg.topic == \"soil\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n}    \n    if(logic == true)\n        msg.payload = 0;\nmsg.topic = \"Data\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2400,
        "y": 2380,
        "wires": [
            [
                "10f484760b87e4b4",
                "d1c10cd53e422046"
            ]
        ]
    },
    {
        "id": "10f484760b87e4b4",
        "type": "ui_gauge",
        "z": "2c7549e3267c360c",
        "g": "db7606b5814f193e",
        "name": "Soil_Moisture_App",
        "group": "ce929204a5830711",
        "order": 10,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Soil Moisture",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2630,
        "y": 2380,
        "wires": []
    },
    {
        "id": "6528fd5d3ee8d0b3",
        "type": "ui_chart",
        "z": "2c7549e3267c360c",
        "g": "91e380ed61976399",
        "name": "Light_Chart",
        "group": "ce929204a5830711",
        "order": 8,
        "width": 18,
        "height": 6,
        "label": "Light Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2770,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "cedc9c3de9e09dc2",
        "type": "ui_chart",
        "z": "2c7549e3267c360c",
        "g": "db7606b5814f193e",
        "name": "Soil_Moisture_Chart",
        "group": "ce929204a5830711",
        "order": 11,
        "width": 18,
        "height": 6,
        "label": "Soil Moisture Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2780,
        "y": 2280,
        "wires": [
            []
        ]
    },
    {
        "id": "b39117e482f11951",
        "type": "ui_chart",
        "z": "2c7549e3267c360c",
        "g": "023e8dd112056349",
        "name": "Temperature_Chart",
        "group": "ce929204a5830711",
        "order": 5,
        "width": 18,
        "height": 6,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2710,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "1baa948961d6858b",
        "type": "ui_chart",
        "z": "2c7549e3267c360c",
        "g": "023e8dd112056349",
        "name": "Humidity_Chart",
        "group": "ce929204a5830711",
        "order": 2,
        "width": 18,
        "height": 6,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "90",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2700,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "1bfe123ef8d5b84f",
        "type": "ui_switch",
        "z": "2c7549e3267c360c",
        "g": "91e380ed61976399",
        "name": "",
        "label": "Status",
        "tooltip": "",
        "group": "ce929204a5830711",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-cog",
        "oncolor": "black",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-exclamation-circle ",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 2590,
        "y": 2140,
        "wires": [
            [
                "1158fc32c2f67da5"
            ]
        ]
    },
    {
        "id": "a7f49ba1651975be",
        "type": "ui_switch",
        "z": "2c7549e3267c360c",
        "g": "db7606b5814f193e",
        "name": "",
        "label": "Status",
        "tooltip": "",
        "group": "ce929204a5830711",
        "order": 12,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-cog",
        "oncolor": "black",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-exclamation-circle ",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 2590,
        "y": 2440,
        "wires": [
            [
                "c763c99dddac6023"
            ]
        ]
    },
    {
        "id": "99cfab1e7104b787",
        "type": "function",
        "z": "2c7549e3267c360c",
        "g": "db7606b5814f193e",
        "name": "NOT",
        "func": "if (msg.payload == \"1\")\n    msg.payload = false;\nelse\n    msg.payload = true;\nflow.set(\"Soil\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2370,
        "y": 2440,
        "wires": [
            [
                "a7f49ba1651975be"
            ]
        ]
    },
    {
        "id": "1f74a850eaccfd6a",
        "type": "function",
        "z": "2c7549e3267c360c",
        "g": "023e8dd112056349",
        "name": "NOT",
        "func": "if (msg.payload == \"1\")\n    msg.payload = false;\nelse\n    msg.payload = true;\nflow.set(\"dht\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2310,
        "y": 1680,
        "wires": [
            [
                "bdcd2c72ac2df9aa"
            ]
        ]
    },
    {
        "id": "c763c99dddac6023",
        "type": "function",
        "z": "2c7549e3267c360c",
        "g": "db7606b5814f193e",
        "name": "Can_Not_Change",
        "func": "var temp = flow.get(\"Soil\");\nif ((!msg.payload && temp) || (msg.payload && !temp)) {\n    if (temp)\n        msg.payload = true;\n    else\n        msg.payload = false;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2790,
        "y": 2440,
        "wires": [
            [
                "a7f49ba1651975be"
            ]
        ]
    },
    {
        "id": "4dc9d46353f6c0b0",
        "type": "function",
        "z": "2c7549e3267c360c",
        "g": "91e380ed61976399",
        "name": "NOT",
        "func": "if (msg.payload == \"1\")\n    msg.payload = false;\nelse\n    msg.payload = true;\nflow.set(\"ldr\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2370,
        "y": 2140,
        "wires": [
            [
                "1bfe123ef8d5b84f"
            ]
        ]
    },
    {
        "id": "ace7a48c3d43b14d",
        "type": "function",
        "z": "2c7549e3267c360c",
        "g": "f73c8450eb6f872d",
        "name": "ON/OFF",
        "func": "if (msg.socketid != undefined)\n{\n    if (msg.payload == \"1\")\n        msg.payload = \"N\";\n    else if (msg.payload == \"0\")\n        msg.payload = \"F\";\n    var CurrentTree = global.get(\"CurrentTree\") || \"\"\n    if (CurrentTree != \"\") {\n        var mess = \"{\" + CurrentTree + \"/L \" + msg.payload +\"}\";\n        msg.payload = mess;\n        return msg;\n    }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2740,
        "y": 1280,
        "wires": [
            [
                "88ebd0b5982c6173"
            ]
        ]
    },
    {
        "id": "0dfa56dda2db7a61",
        "type": "function",
        "z": "2c7549e3267c360c",
        "g": "f73c8450eb6f872d",
        "name": "ON/OFF",
        "func": "if (msg.socketid != undefined)\n{\n    if (msg.payload == \"1\")\n        msg.payload = \"N\";\n    else if (msg.payload == \"0\")\n        msg.payload = \"F\";\n    var CurrentTree = global.get(\"CurrentTree\") || \"\"\n    if (CurrentTree != \"\") {\n        var mess = \"{\" + CurrentTree +\"/P \"+msg.payload+\"}\";\n        msg.payload = mess;\n        return msg;\n    }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2740,
        "y": 1360,
        "wires": [
            [
                "e34b931b19f4a222"
            ]
        ]
    },
    {
        "id": "2817501e743bf37e",
        "type": "rbe",
        "z": "2c7549e3267c360c",
        "g": "f73c8450eb6f872d",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 2550,
        "y": 1280,
        "wires": [
            [
                "ace7a48c3d43b14d"
            ]
        ]
    },
    {
        "id": "e65f07bf577dd136",
        "type": "rbe",
        "z": "2c7549e3267c360c",
        "g": "f73c8450eb6f872d",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 2550,
        "y": 1360,
        "wires": [
            [
                "0dfa56dda2db7a61"
            ]
        ]
    },
    {
        "id": "1158fc32c2f67da5",
        "type": "function",
        "z": "2c7549e3267c360c",
        "g": "91e380ed61976399",
        "name": "Can_Not_Change",
        "func": "var temp = flow.get(\"ldr\");\nif((!msg.payload && temp) || (msg.payload && !temp))\n{\n    if(temp)\n        msg.payload = true;\n    else\n        msg.payload= false;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2790,
        "y": 2140,
        "wires": [
            [
                "1bfe123ef8d5b84f"
            ]
        ]
    },
    {
        "id": "bdcd2c72ac2df9aa",
        "type": "ui_switch",
        "z": "2c7549e3267c360c",
        "g": "023e8dd112056349",
        "name": "",
        "label": "Status",
        "tooltip": "",
        "group": "ce929204a5830711",
        "order": 6,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-cog",
        "oncolor": "black",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-exclamation-circle ",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 2750,
        "y": 1680,
        "wires": [
            [
                "6277b121ad5d390b"
            ]
        ]
    },
    {
        "id": "33faa9d40ae28c8d",
        "type": "function",
        "z": "2c7549e3267c360c",
        "g": "023e8dd112056349",
        "name": "Can_Not_Change",
        "func": "var temp = flow.get(\"dht\");\nif ((!msg.payload && temp) || (msg.payload && !temp)) {\n    if (temp)\n        msg.payload = true;\n    else\n        msg.payload = false;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3130,
        "y": 1680,
        "wires": [
            [
                "bdcd2c72ac2df9aa"
            ]
        ]
    },
    {
        "id": "6277b121ad5d390b",
        "type": "ui_switch",
        "z": "2c7549e3267c360c",
        "g": "023e8dd112056349",
        "name": "",
        "label": "Status",
        "tooltip": "",
        "group": "ce929204a5830711",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-cog",
        "oncolor": "black",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-exclamation-circle ",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 2930,
        "y": 1680,
        "wires": [
            [
                "33faa9d40ae28c8d"
            ]
        ]
    },
    {
        "id": "75e6d8186dab0494",
        "type": "rbe",
        "z": "2c7549e3267c360c",
        "g": "91e380ed61976399",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 2590,
        "y": 2000,
        "wires": [
            [
                "6528fd5d3ee8d0b3"
            ]
        ]
    },
    {
        "id": "d1c10cd53e422046",
        "type": "rbe",
        "z": "2c7549e3267c360c",
        "g": "db7606b5814f193e",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 2590,
        "y": 2280,
        "wires": [
            [
                "cedc9c3de9e09dc2"
            ]
        ]
    },
    {
        "id": "f57d3fcd46625af5",
        "type": "rbe",
        "z": "2c7549e3267c360c",
        "g": "023e8dd112056349",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 2530,
        "y": 1540,
        "wires": [
            [
                "b39117e482f11951"
            ]
        ]
    },
    {
        "id": "2f653756cb17ab6c",
        "type": "rbe",
        "z": "2c7549e3267c360c",
        "g": "023e8dd112056349",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 2530,
        "y": 1820,
        "wires": [
            [
                "1baa948961d6858b"
            ]
        ]
    },
    {
        "id": "daa58ef1a2cbf5f6",
        "type": "ui_button",
        "z": "2c7549e3267c360c",
        "g": "0768b1be5520f542",
        "name": "Record Table",
        "group": "cc0ce2d6280183e7",
        "order": 7,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Record Table",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-history",
        "payload": "Change",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 790,
        "y": 860,
        "wires": [
            [
                "2909d19c6a4dc2d1"
            ]
        ]
    },
    {
        "id": "2909d19c6a4dc2d1",
        "type": "change",
        "z": "2c7549e3267c360c",
        "g": "0768b1be5520f542",
        "name": "See Table",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"tab\": \"RecordData\" }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 860,
        "wires": [
            [
                "a132ec7ff53dad98",
                "edb144550d507935"
            ]
        ]
    },
    {
        "id": "a132ec7ff53dad98",
        "type": "link out",
        "z": "2c7549e3267c360c",
        "g": "0768b1be5520f542",
        "name": "OpenRecord",
        "mode": "link",
        "links": [
            "56570855d84835e6"
        ],
        "x": 1115,
        "y": 860,
        "wires": []
    },
    {
        "id": "c2e1b8d4e1d28f98",
        "type": "ui_button",
        "z": "2c7549e3267c360c",
        "g": "0768b1be5520f542",
        "name": "Setting",
        "group": "cc0ce2d6280183e7",
        "order": 5,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Setting",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-cogs",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 780,
        "y": 900,
        "wires": [
            [
                "560fa9e16674210d"
            ]
        ]
    },
    {
        "id": "560fa9e16674210d",
        "type": "change",
        "z": "2c7549e3267c360c",
        "g": "0768b1be5520f542",
        "name": "Move to setting",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"tab\": \"Setting\" }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 900,
        "wires": [
            [
                "e3cb737b90d7a46e",
                "edb144550d507935"
            ]
        ]
    },
    {
        "id": "e3cb737b90d7a46e",
        "type": "link out",
        "z": "2c7549e3267c360c",
        "g": "0768b1be5520f542",
        "name": "OpenSetting",
        "mode": "link",
        "links": [
            "55ab61b7fb9f0b29"
        ],
        "x": 1115,
        "y": 940,
        "wires": []
    },
    {
        "id": "e75635a997d2a71d",
        "type": "firebase-in",
        "z": "2c7549e3267c360c",
        "name": "New ID",
        "constraint": {},
        "database": "9bdf6ea296ef5609",
        "listenerType": "child_added",
        "outputType": "auto",
        "path": "Realtime/",
        "useConstraint": false,
        "x": 110,
        "y": 1500,
        "wires": [
            [
                "6a929b59788f0e33",
                "84e409764b9aab40",
                "cfe003dd12352264"
            ]
        ]
    },
    {
        "id": "6a929b59788f0e33",
        "type": "function",
        "z": "2c7549e3267c360c",
        "name": "Number of tree",
        "func": "var TableTree = global.get(\"TableTree\") || [];\nif(!TableTree.includes(msg.topic))\n    TableTree.unshift(msg.topic);\nglobal.set(\"TableTree\", TableTree);\nmsg.options = TableTree ;\nmsg.payload = null;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1500,
        "wires": [
            [
                "5ce59f49c53ead11"
            ]
        ]
    },
    {
        "id": "2aea6af9df9770db",
        "type": "firebase-in",
        "z": "2c7549e3267c360c",
        "name": "Realtime",
        "constraint": {},
        "database": "9bdf6ea296ef5609",
        "listenerType": "child_changed",
        "outputType": "auto",
        "path": "Realtime/",
        "useConstraint": false,
        "x": 100,
        "y": 1880,
        "wires": [
            [
                "0b93c6cf55f522e2",
                "cfe003dd12352264"
            ]
        ]
    },
    {
        "id": "0b93c6cf55f522e2",
        "type": "function",
        "z": "2c7549e3267c360c",
        "name": "FilterPlant",
        "func": "var CurrentTree = global.get(\"CurrentTree\") || \"\"\nif(CurrentTree == \"\")\n{\n    CurrentTree = msg.topic;\n    global.set(\"CurrentTree\",CurrentTree);\n}\nif(CurrentTree == msg.topic)\n    return msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1880,
        "wires": [
            [
                "cfb507c5a354afb6"
            ]
        ]
    },
    {
        "id": "1c59b9cc680936db",
        "type": "switch",
        "z": "2c7549e3267c360c",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "humi",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "temp",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ligh",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soil",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pump",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "led",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "error_dht",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "error_light",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "error_soil",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "name",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 1250,
        "y": 1880,
        "wires": [
            [
                "a62d817fb69bf1bf"
            ],
            [
                "f11e9ab21e5f121a"
            ],
            [
                "f4cb6e8d6b4fc8a9"
            ],
            [
                "27018220695bd59d"
            ],
            [
                "a490bbb118f46a3f"
            ],
            [
                "098b5240d1997ea7"
            ],
            [
                "5536a1c9cc2b4b8f"
            ],
            [
                "f45a57816103943f"
            ],
            [
                "fe6c622918f62e85"
            ],
            [
                "1fc325485492a2b1",
                "4275e1d50c63086d"
            ]
        ]
    },
    {
        "id": "5536a1c9cc2b4b8f",
        "type": "link out",
        "z": "2c7549e3267c360c",
        "name": "DHT_Error",
        "mode": "link",
        "links": [
            "288b9e12f42a0db8"
        ],
        "x": 1485,
        "y": 1960,
        "wires": []
    },
    {
        "id": "288b9e12f42a0db8",
        "type": "link in",
        "z": "2c7549e3267c360c",
        "g": "023e8dd112056349",
        "name": "DHT_Error",
        "links": [
            "5536a1c9cc2b4b8f"
        ],
        "x": 2175,
        "y": 1680,
        "wires": [
            [
                "1f74a850eaccfd6a",
                "2eae1b674da8ac56",
                "a25a23be5ee49cf3"
            ]
        ]
    },
    {
        "id": "f45a57816103943f",
        "type": "link out",
        "z": "2c7549e3267c360c",
        "name": "LDR_Error",
        "mode": "link",
        "links": [
            "d77f089beb5368a9"
        ],
        "x": 1485,
        "y": 2000,
        "wires": []
    },
    {
        "id": "d77f089beb5368a9",
        "type": "link in",
        "z": "2c7549e3267c360c",
        "g": "91e380ed61976399",
        "name": "LDR_Error",
        "links": [
            "f45a57816103943f"
        ],
        "x": 2175,
        "y": 2100,
        "wires": [
            [
                "4dc9d46353f6c0b0",
                "46e148d07ac6102f"
            ]
        ]
    },
    {
        "id": "fe6c622918f62e85",
        "type": "link out",
        "z": "2c7549e3267c360c",
        "name": "Soil_Error",
        "mode": "link",
        "links": [
            "fc41757ebb3851df"
        ],
        "x": 1485,
        "y": 2040,
        "wires": []
    },
    {
        "id": "fc41757ebb3851df",
        "type": "link in",
        "z": "2c7549e3267c360c",
        "g": "db7606b5814f193e",
        "name": "Soil_Error",
        "links": [
            "fe6c622918f62e85"
        ],
        "x": 2185,
        "y": 2420,
        "wires": [
            [
                "096b9ba5e71e12e3",
                "99cfab1e7104b787"
            ]
        ]
    },
    {
        "id": "a62d817fb69bf1bf",
        "type": "link out",
        "z": "2c7549e3267c360c",
        "name": "Humi_Value",
        "mode": "link",
        "links": [
            "8d036ecfab9b4dd2"
        ],
        "x": 1485,
        "y": 1720,
        "wires": []
    },
    {
        "id": "8d036ecfab9b4dd2",
        "type": "link in",
        "z": "2c7549e3267c360c",
        "g": "023e8dd112056349",
        "name": "Humi_Value",
        "links": [
            "a62d817fb69bf1bf"
        ],
        "x": 2175,
        "y": 1760,
        "wires": [
            [
                "2eae1b674da8ac56"
            ]
        ]
    },
    {
        "id": "f11e9ab21e5f121a",
        "type": "link out",
        "z": "2c7549e3267c360c",
        "name": "Temp_Value",
        "mode": "link",
        "links": [
            "90d19f6ec7300101"
        ],
        "x": 1485,
        "y": 1760,
        "wires": []
    },
    {
        "id": "90d19f6ec7300101",
        "type": "link in",
        "z": "2c7549e3267c360c",
        "g": "023e8dd112056349",
        "name": "Temp_Value",
        "links": [
            "f11e9ab21e5f121a"
        ],
        "x": 2175,
        "y": 1600,
        "wires": [
            [
                "a25a23be5ee49cf3"
            ]
        ]
    },
    {
        "id": "f4cb6e8d6b4fc8a9",
        "type": "link out",
        "z": "2c7549e3267c360c",
        "name": "Light_Value",
        "mode": "link",
        "links": [
            "a93aed49adb55830"
        ],
        "x": 1485,
        "y": 1800,
        "wires": []
    },
    {
        "id": "a93aed49adb55830",
        "type": "link in",
        "z": "2c7549e3267c360c",
        "g": "91e380ed61976399",
        "name": "Light_Value",
        "links": [
            "f4cb6e8d6b4fc8a9"
        ],
        "x": 2175,
        "y": 2000,
        "wires": [
            [
                "46e148d07ac6102f"
            ]
        ]
    },
    {
        "id": "27018220695bd59d",
        "type": "link out",
        "z": "2c7549e3267c360c",
        "name": "Solid_Value",
        "mode": "link",
        "links": [
            "39d8fcc6b201b851"
        ],
        "x": 1485,
        "y": 1840,
        "wires": []
    },
    {
        "id": "39d8fcc6b201b851",
        "type": "link in",
        "z": "2c7549e3267c360c",
        "g": "db7606b5814f193e",
        "name": "Solid_Value",
        "links": [
            "27018220695bd59d"
        ],
        "x": 2185,
        "y": 2340,
        "wires": [
            [
                "096b9ba5e71e12e3"
            ]
        ]
    },
    {
        "id": "5ce59f49c53ead11",
        "type": "ui_dropdown",
        "z": "2c7549e3267c360c",
        "name": "",
        "label": "Choose Plant: ",
        "tooltip": "",
        "place": "",
        "group": "cc0ce2d6280183e7",
        "order": 1,
        "width": 12,
        "height": 2,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "Tree",
        "topicType": "str",
        "className": "",
        "x": 400,
        "y": 1620,
        "wires": [
            [
                "6d92d01c86784c78",
                "54035e2979b19c82",
                "a3021a82fd27f8e2"
            ]
        ]
    },
    {
        "id": "6d92d01c86784c78",
        "type": "function",
        "z": "2c7549e3267c360c",
        "name": "function 2",
        "func": "if (msg.topic == \"Tree\")\n{\n    global.set(\"CurrentTree\",msg.payload)\n    var path = \"Realtime/\"\n    path += msg.payload\n    msg.payload = path\n    \n    return msg;\n}\n    ",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1500,
        "wires": [
            [
                "5b3db5f155b20c8a"
            ]
        ]
    },
    {
        "id": "098b5240d1997ea7",
        "type": "link out",
        "z": "2c7549e3267c360c",
        "name": "LED_Status",
        "mode": "link",
        "links": [
            "410f44658d8cc001"
        ],
        "x": 1485,
        "y": 1920,
        "wires": []
    },
    {
        "id": "410f44658d8cc001",
        "type": "link in",
        "z": "2c7549e3267c360c",
        "g": "f73c8450eb6f872d",
        "name": "LED_Status",
        "links": [
            "098b5240d1997ea7"
        ],
        "x": 2175,
        "y": 1280,
        "wires": [
            [
                "3b15acf13229117a"
            ]
        ]
    },
    {
        "id": "a490bbb118f46a3f",
        "type": "link out",
        "z": "2c7549e3267c360c",
        "name": "Pump_Status",
        "mode": "link",
        "links": [
            "a6a8054a32547bf3"
        ],
        "x": 1485,
        "y": 1880,
        "wires": []
    },
    {
        "id": "a6a8054a32547bf3",
        "type": "link in",
        "z": "2c7549e3267c360c",
        "g": "f73c8450eb6f872d",
        "name": "Pump_Status",
        "links": [
            "a490bbb118f46a3f"
        ],
        "x": 2175,
        "y": 1360,
        "wires": [
            [
                "92ab3d3c2b1c3fbf"
            ]
        ]
    },
    {
        "id": "5b3db5f155b20c8a",
        "type": "firebase-get",
        "z": "2c7549e3267c360c",
        "name": "",
        "constraint": {},
        "database": "9bdf6ea296ef5609",
        "outputType": "auto",
        "passThrough": false,
        "path": "payload",
        "pathType": "msg",
        "useConstraint": false,
        "x": 910,
        "y": 1500,
        "wires": [
            [
                "cfb507c5a354afb6"
            ]
        ]
    },
    {
        "id": "54035e2979b19c82",
        "type": "change",
        "z": "2c7549e3267c360c",
        "name": "Clear Chart",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1620,
        "wires": [
            [
                "b74a9c9f08aca778"
            ]
        ]
    },
    {
        "id": "b74a9c9f08aca778",
        "type": "link out",
        "z": "2c7549e3267c360c",
        "name": "Clear_Chair",
        "mode": "link",
        "links": [
            "254800bc9fc77a08",
            "47b36bb436f6002a",
            "9f33a0f28b9b0a97",
            "e24a9c333204f2ae"
        ],
        "x": 845,
        "y": 1620,
        "wires": []
    },
    {
        "id": "254800bc9fc77a08",
        "type": "link in",
        "z": "2c7549e3267c360c",
        "g": "023e8dd112056349",
        "name": "Clear_Chair",
        "links": [
            "b74a9c9f08aca778"
        ],
        "x": 2565,
        "y": 1860,
        "wires": [
            [
                "1baa948961d6858b"
            ]
        ]
    },
    {
        "id": "47b36bb436f6002a",
        "type": "link in",
        "z": "2c7549e3267c360c",
        "g": "023e8dd112056349",
        "name": "Clear_Chair",
        "links": [
            "b74a9c9f08aca778"
        ],
        "x": 2565,
        "y": 1500,
        "wires": [
            [
                "b39117e482f11951"
            ]
        ]
    },
    {
        "id": "9f33a0f28b9b0a97",
        "type": "link in",
        "z": "2c7549e3267c360c",
        "g": "91e380ed61976399",
        "name": "Clear_Chair",
        "links": [
            "b74a9c9f08aca778"
        ],
        "x": 2625,
        "y": 2040,
        "wires": [
            [
                "6528fd5d3ee8d0b3"
            ]
        ]
    },
    {
        "id": "e24a9c333204f2ae",
        "type": "link in",
        "z": "2c7549e3267c360c",
        "g": "db7606b5814f193e",
        "name": "Clear_Chair",
        "links": [
            "b74a9c9f08aca778"
        ],
        "x": 2625,
        "y": 2240,
        "wires": [
            [
                "cedc9c3de9e09dc2"
            ]
        ]
    },
    {
        "id": "a3021a82fd27f8e2",
        "type": "function",
        "z": "2c7549e3267c360c",
        "g": "7b18e51371b9da08",
        "name": "function 5",
        "func": "var path = \"DataLog/\";\npath += msg.payload;\nmsg.payload = path;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1360,
        "wires": [
            [
                "5231dec03adb51bc"
            ]
        ]
    },
    {
        "id": "5231dec03adb51bc",
        "type": "firebase-get",
        "z": "2c7549e3267c360c",
        "g": "7b18e51371b9da08",
        "name": "",
        "constraint": {
            "orderByKey": null,
            "limitToLast": 10
        },
        "database": "9bdf6ea296ef5609",
        "outputType": "auto",
        "passThrough": false,
        "path": "payload",
        "pathType": "msg",
        "useConstraint": true,
        "x": 910,
        "y": 1360,
        "wires": [
            [
                "2a95fa4a38c4fb04"
            ]
        ]
    },
    {
        "id": "2a95fa4a38c4fb04",
        "type": "split",
        "z": "2c7549e3267c360c",
        "g": "7b18e51371b9da08",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1070,
        "y": 1360,
        "wires": [
            [
                "601417bc7425d784"
            ]
        ]
    },
    {
        "id": "601417bc7425d784",
        "type": "function",
        "z": "2c7549e3267c360c",
        "g": "7b18e51371b9da08",
        "name": "function 6",
        "func": "if (msg.payload.Error.DHT11 == \"1\") {\n    msg.payload.Sensor.DHT11.Humi = \"0\"\n    msg.payload.Sensor.DHT11.Temp = \"0\"\n}\nif (msg.payload.Error.LDR == \"1\")\n    msg.payload.Sensor.Light = \"0\"\nif (msg.payload.Error.Soil == \"1\")\n    msg.payload.Sensor.Solid = \"0\"\n// @ts-ignore\nmsg.timestamp = msg.topic * 1000\nvar json = {\n    \"humi\" :msg.payload.Sensor.DHT11.Humi,\n    \"temp\" :msg.payload.Sensor.DHT11.Temp,\n    \"ligh\" : msg.payload.Sensor.Light,\n    \"soil\": msg.payload.Sensor.Solid\n};\nmsg.payload = json;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 1360,
        "wires": [
            [
                "ecd7b413b21d5290"
            ]
        ]
    },
    {
        "id": "cfb507c5a354afb6",
        "type": "function",
        "z": "2c7549e3267c360c",
        "name": "JSONed",
        "func": "var json = {\n    \"humi\": msg.payload.Sensor.DHT11.Humi,\n    \"temp\": msg.payload.Sensor.DHT11.Temp,\n    \"ligh\": msg.payload.Sensor.Light,\n    \"soil\": msg.payload.Sensor.Solid,\n    \"pump\": msg.payload.Status.Pump,\n    \"led\": msg.payload.Status.Led,\n    \"error_dht\": msg.payload.Error.DHT11,\n    \"error_light\": msg.payload.Error.LDR,\n    \"error_soil\": msg.payload.Error.Soil,\n    \"name\" : msg.payload.Name\n}\nmsg.payload = json;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1880,
        "wires": [
            [
                "4aad12e076251ca5"
            ]
        ]
    },
    {
        "id": "4aad12e076251ca5",
        "type": "split",
        "z": "2c7549e3267c360c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1030,
        "y": 1880,
        "wires": [
            [
                "1c59b9cc680936db"
            ]
        ]
    },
    {
        "id": "ecd7b413b21d5290",
        "type": "split",
        "z": "2c7549e3267c360c",
        "g": "7b18e51371b9da08",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 1360,
        "wires": [
            [
                "fa188f19d4499589"
            ]
        ]
    },
    {
        "id": "fa188f19d4499589",
        "type": "switch",
        "z": "2c7549e3267c360c",
        "g": "7b18e51371b9da08",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "humi",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "temp",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ligh",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soil",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1530,
        "y": 1360,
        "wires": [
            [
                "3bf9b677fa3a6fe4"
            ],
            [
                "314216c91649e2e1"
            ],
            [
                "9bedd419c212be44"
            ],
            [
                "ac34c487c9382149"
            ]
        ]
    },
    {
        "id": "3bf9b677fa3a6fe4",
        "type": "link out",
        "z": "2c7549e3267c360c",
        "g": "7b18e51371b9da08",
        "name": "Humi_Chart",
        "mode": "link",
        "links": [
            "ced982086979f9e5"
        ],
        "x": 1685,
        "y": 1300,
        "wires": []
    },
    {
        "id": "314216c91649e2e1",
        "type": "link out",
        "z": "2c7549e3267c360c",
        "g": "7b18e51371b9da08",
        "name": "Temp_Chart",
        "mode": "link",
        "links": [
            "b175a675c6e62914"
        ],
        "x": 1685,
        "y": 1340,
        "wires": []
    },
    {
        "id": "9bedd419c212be44",
        "type": "link out",
        "z": "2c7549e3267c360c",
        "g": "7b18e51371b9da08",
        "name": "Light_Chair",
        "mode": "link",
        "links": [
            "aba749fbac219d65"
        ],
        "x": 1685,
        "y": 1380,
        "wires": []
    },
    {
        "id": "ac34c487c9382149",
        "type": "link out",
        "z": "2c7549e3267c360c",
        "g": "7b18e51371b9da08",
        "name": "Soil_Chair",
        "mode": "link",
        "links": [
            "e04bfbdd7baf05c9"
        ],
        "x": 1685,
        "y": 1420,
        "wires": []
    },
    {
        "id": "b175a675c6e62914",
        "type": "link in",
        "z": "2c7549e3267c360c",
        "g": "023e8dd112056349",
        "name": "Temp_Chart",
        "links": [
            "314216c91649e2e1"
        ],
        "x": 2565,
        "y": 1580,
        "wires": [
            [
                "b39117e482f11951"
            ]
        ]
    },
    {
        "id": "ced982086979f9e5",
        "type": "link in",
        "z": "2c7549e3267c360c",
        "g": "023e8dd112056349",
        "name": "Humi_Chart",
        "links": [
            "3bf9b677fa3a6fe4"
        ],
        "x": 2565,
        "y": 1780,
        "wires": [
            [
                "1baa948961d6858b"
            ]
        ]
    },
    {
        "id": "aba749fbac219d65",
        "type": "link in",
        "z": "2c7549e3267c360c",
        "g": "91e380ed61976399",
        "name": "Light_Chair",
        "links": [
            "9bedd419c212be44"
        ],
        "x": 2625,
        "y": 1960,
        "wires": [
            [
                "6528fd5d3ee8d0b3"
            ]
        ]
    },
    {
        "id": "e04bfbdd7baf05c9",
        "type": "link in",
        "z": "2c7549e3267c360c",
        "g": "db7606b5814f193e",
        "name": "Soil_Chair",
        "links": [
            "ac34c487c9382149"
        ],
        "x": 2625,
        "y": 2320,
        "wires": [
            [
                "cedc9c3de9e09dc2"
            ]
        ]
    },
    {
        "id": "1fc325485492a2b1",
        "type": "ui_text",
        "z": "2c7549e3267c360c",
        "group": "6aab20ed1322aed9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "TreeName",
        "label": "<font><i class=\"fa fa-pagelines\" aria-hidden=\"true\"></i></font>",
        "format": "{{value | uppercase}} ",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Times New Roman,Times,serif",
        "fontSize": "30",
        "color": "#000000",
        "x": 1550,
        "y": 2100,
        "wires": []
    },
    {
        "id": "fd18b2e083b8a9cb",
        "type": "comment",
        "z": "2c7549e3267c360c",
        "g": "7b18e51371b9da08",
        "name": "Init current tree chart value",
        "info": "",
        "x": 810,
        "y": 1280,
        "wires": []
    },
    {
        "id": "4275e1d50c63086d",
        "type": "link out",
        "z": "2c7549e3267c360c",
        "name": "Header_Name",
        "mode": "link",
        "links": [
            "0182112f9ba31b02"
        ],
        "x": 1475,
        "y": 2140,
        "wires": []
    },
    {
        "id": "9b205ea7cb89e8b5",
        "type": "comment",
        "z": "2c7549e3267c360c",
        "g": "f73c8450eb6f872d",
        "name": "Command",
        "info": "",
        "x": 2240,
        "y": 1320,
        "wires": []
    },
    {
        "id": "d81aa8bc.35b81",
        "type": "ui_template",
        "z": "2c7549e3267c360c",
        "group": "",
        "name": "Node-Red Dashboard Custom CSS",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\nroot, a, button, p, div {\n    -webkit-user-select: none !important;\n}\n\nbody {\n    background: -webkit-linear-gradient(\n    55deg,\n    #009785 0%,\n    #245aa5 50%,\n    #b800e9 100%\n    );\n    -webkit-touch-callout: none !important;\n}\n\nbody.nr-dashboard-theme md-toolbar,\nbody.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n    color: #FFFFFF;\n}\n\nui-card-panel {\n    background-color: rgba(255,255,255,0.1) !important;\n    border-radius: 10px !important;\n}\n    \n#Homey_Dashboard_Navigation {\n    background-color: transparent !important;\n    border-radius: 10px !important;\n}\n\n.md-card.md-default-theme, md-card {\n    border-radius: 10px;\n}\n\n.nr-dashboard-switch.ng-scope {\n    background-color: rgba(255,255,255,.2) !important;\n}\n\n.nr-dashboard-switch.ng-scope:hover {\n    background-color: rgba(255,255,255,.5) !important;\n}\n\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: rgba(255,255,255,.2);\n}\n\n.md-button {\n    border-radius: 10px;\n}\n\n.nr-dashboard-cardpanel layout-column {\n    background-color: rgba(255,255,255,0.2) !important;\n    background-color: transparent !important;\n    border-radius: 10px !important;\n}\n\n.nr-dashboard-theme ui-card-panel {\n    border: none;\n}\n\n.nr-dashboard-template {\n    overflow-y: visible;\n}\n.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n}\n\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: rgba(255, 255, 255, 0.5);\n}\n</style>\n\n<script>\ndocument.ontouchmove = function (e) {\n    e.preventDefault();\n}\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 3420,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "a3aa364077da9daa",
        "type": "comment",
        "z": "2c7549e3267c360c",
        "g": "0768b1be5520f542",
        "name": "Change page",
        "info": "",
        "x": 790,
        "y": 940,
        "wires": []
    },
    {
        "id": "f4010ba443c8dfe3",
        "type": "comment",
        "z": "2c7549e3267c360c",
        "g": "023e8dd112056349",
        "name": "DHT11",
        "info": "",
        "x": 3170,
        "y": 1500,
        "wires": []
    },
    {
        "id": "19f86b3acfb3afad",
        "type": "comment",
        "z": "2c7549e3267c360c",
        "g": "91e380ed61976399",
        "name": "Light Sensor",
        "info": "",
        "x": 2310,
        "y": 1960,
        "wires": []
    },
    {
        "id": "c2093c2969c1d22e",
        "type": "comment",
        "z": "2c7549e3267c360c",
        "g": "db7606b5814f193e",
        "name": "Soil Moisture Sensor",
        "info": "",
        "x": 2350,
        "y": 2240,
        "wires": []
    },
    {
        "id": "cfe003dd12352264",
        "type": "link out",
        "z": "2c7549e3267c360c",
        "name": "Notificate",
        "mode": "link",
        "links": [
            "42b60c84f8fa1fdf"
        ],
        "x": 255,
        "y": 1680,
        "wires": []
    },
    {
        "id": "edb144550d507935",
        "type": "link out",
        "z": "2c7549e3267c360c",
        "g": "0768b1be5520f542",
        "name": "ControlUI",
        "mode": "link",
        "links": [
            "baca40bda0b4d1b0"
        ],
        "x": 1175,
        "y": 900,
        "wires": []
    },
    {
        "id": "84e409764b9aab40",
        "type": "function",
        "z": "2c7549e3267c360c",
        "name": "Init Tree (Only First Time)",
        "func": "var CurrentTree = global.get(\"CurrentTree\") || \"\"\nif(CurrentTree == \"\")\n{\n    CurrentTree = msg.topic;\n    global.set(\"CurrentTree\",CurrentTree);\n    msg.payload = msg.topic\n    msg.topic = \"Tree\"\n    \n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1360,
        "wires": [
            [
                "a3021a82fd27f8e2",
                "6d92d01c86784c78",
                "54035e2979b19c82"
            ]
        ]
    },
    {
        "id": "5fe6711eefb9e865",
        "type": "firebase-in",
        "z": "3992c3350543bb36",
        "g": "2e4c42bec1bce456",
        "name": "NewData",
        "constraint": {
            "orderByKey": null
        },
        "database": "9bdf6ea296ef5609",
        "listenerType": "child_changed",
        "outputType": "auto",
        "path": "DataLog/",
        "useConstraint": true,
        "x": 760,
        "y": 620,
        "wires": [
            [
                "7d78fd684bf83575"
            ]
        ]
    },
    {
        "id": "43c5c683542dbb8d",
        "type": "ui_table",
        "z": "3992c3350543bb36",
        "g": "8f58b7ee2d4d3590",
        "group": "6b0fc43246790e58",
        "name": "Table Record",
        "order": 4,
        "width": 25,
        "height": 6,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 1890,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "79f057dc97cd535d",
        "type": "function",
        "z": "3992c3350543bb36",
        "g": "8f58b7ee2d4d3590",
        "name": "StoreData",
        "func": "msg.ui_control = {\n    \"tabulator\": {\n        columnVertAlign : \"bottom\",\n        height: \"311px\",\n        layout: \"fitColumns\",\n        columns: [\n            { title: \"Time\", field: \"time\", width: 160},\n            {\n                title : \"Sensor\",\n                columns: [\n                    { title: \"Humidity\", field: \"humi\"},\n                    { title: \"Temperature\", field: \"temp\" },\n                    { title: \"Light\", field: \"ligh\"},\n                    { title: \"Soil Moisture\", field: \"soil\" }\n                ]\n            },\n            {\n                title: \"Activities\",\n                align: \"center\",\n                columns: [\n                    { title: \"Pump\", field: \"pump\"},\n                    { title: \"LED\", field: \"led\"}\n                ]\n            }\n\n        ]\n    }\n};\n\nvar TableRecord = flow.get(\"TableRecord\") || [];\nif(msg.topic != \"PrevPage\" && msg.topic != \"NextPage\")\n{\n    if (msg.payload.Status.Pump == \"1\")\n        msg.payload.Status.Pump = \"ON\";\n    else\n        msg.payload.Status.Pump = \"OFF\";\n    if (msg.payload.Status.Led == \"1\")\n        msg.payload.Status.Led = \"ON\";\n    else\n        msg.payload.Status.Led = \"OFF\";  \n    if(msg.payload.Error.DHT11 == \"1\")  \n    {\n        msg.payload.Sensor.DHT11.Humi = \"---\"\n        msg.payload.Sensor.DHT11.Temp = \"---\"\n    }\n    if(msg.payload.Error.LDR == \"1\")\n        msg.payload.Sensor.Light = \"---\"\n    if (msg.payload.Error.Soil == \"1\")\n        msg.payload.Sensor.Solid = \"---\"\n    var flag = 0;\n    // @ts-ignore\n    var timestm = new Date(msg.topic * 1000).toLocaleString()\n    for(var i = 0;i < TableRecord.lenght;++i){\n        if ( timestm == TableRecord[i].time)\n        {   \n            flag = 1;\n            break;\n        }\n    }\n    if (flag == 0){\n        TableRecord.unshift({\n            // @ts-ignore\n            \"time\": new Date(msg.topic * 1000).toLocaleString(),\n            \"humi\": msg.payload.Sensor.DHT11.Humi,\n            \"temp\": msg.payload.Sensor.DHT11.Temp,\n            \"ligh\": msg.payload.Sensor.Light,\n            \"soil\": msg.payload.Sensor.Solid,\n            \"pump\": msg.payload.Status.Pump,\n            \"led\": msg.payload.Status.Led\n        });\n        flow.set(\"TableRecord\", TableRecord);\n    }\n}\nvar page = flow.get(\"page\") || 0;\nif (msg.topic == \"PrevPage\" && page != 0)\n    page -= 10;\nif (msg.topic == \"NextPage\" && page <= TableRecord.length -10)\n    page += 10;\nmsg.payload = [(TableRecord[page] == undefined) ? \"\" : TableRecord[page], (TableRecord[page + 1] == undefined) ? \"\" : TableRecord[page + 1], (TableRecord[page + 2] == undefined) ? \"\" : TableRecord[page + 2], (TableRecord[page + 3] == undefined) ? \"\" : TableRecord[page + 3], (TableRecord[page + 4] == undefined) ? \"\" : TableRecord[page + 4], (TableRecord[page + 5] == undefined) ? \"\" : TableRecord[page + 5], (TableRecord[page + 6] == undefined) ? \"\" : TableRecord[page + 6], (TableRecord[page + 7] == undefined) ? \"\" : TableRecord[page + 7], (TableRecord[page + 8] == undefined) ? \"\" : TableRecord[page + 8], (TableRecord[page + 9] == undefined) ? \"\" : TableRecord[page + 9],page];\nflow.set(\"page\",page);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 740,
        "wires": [
            [
                "43c5c683542dbb8d",
                "037540e53c9b4ebd"
            ]
        ]
    },
    {
        "id": "0e6d4dde7f49cd10",
        "type": "change",
        "z": "3992c3350543bb36",
        "g": "2e4c42bec1bce456",
        "name": "Clean Data",
        "rules": [
            {
                "t": "set",
                "p": "TableRecord",
                "pt": "flow",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "74104dce0719d738",
        "type": "ui_button",
        "z": "3992c3350543bb36",
        "g": "8f58b7ee2d4d3590",
        "name": "Next",
        "group": "6b0fc43246790e58",
        "order": 10,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-angle-right",
        "payload": "page",
        "payloadType": "flow",
        "topic": "NextPage",
        "topicType": "str",
        "x": 1590,
        "y": 660,
        "wires": [
            [
                "79f057dc97cd535d"
            ]
        ]
    },
    {
        "id": "40f97c3c6eb2554b",
        "type": "ui_button",
        "z": "3992c3350543bb36",
        "g": "8f58b7ee2d4d3590",
        "name": "Prev",
        "group": "6b0fc43246790e58",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-angle-left",
        "payload": "page",
        "payloadType": "flow",
        "topic": "PrevPage",
        "topicType": "str",
        "x": 1610,
        "y": 820,
        "wires": [
            [
                "79f057dc97cd535d"
            ]
        ]
    },
    {
        "id": "037540e53c9b4ebd",
        "type": "ui_text",
        "z": "3992c3350543bb36",
        "g": "8f58b7ee2d4d3590",
        "group": "6b0fc43246790e58",
        "order": 8,
        "width": 1,
        "height": 1,
        "name": "PageNumber",
        "label": "",
        "format": "{{(msg.payload[10] == 0)? 1: msg.payload[10]/10 +1 }}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1870,
        "y": 540,
        "wires": []
    },
    {
        "id": "3f3da21ff2f1feef",
        "type": "firebase-get",
        "z": "3992c3350543bb36",
        "g": "2e4c42bec1bce456",
        "name": "AllDataRecord",
        "constraint": {},
        "database": "9bdf6ea296ef5609",
        "outputType": "auto",
        "passThrough": false,
        "path": "payload",
        "pathType": "msg",
        "useConstraint": false,
        "x": 880,
        "y": 740,
        "wires": [
            [
                "ce9f824367f96706",
                "0e6d4dde7f49cd10"
            ]
        ]
    },
    {
        "id": "ce9f824367f96706",
        "type": "split",
        "z": "3992c3350543bb36",
        "g": "2e4c42bec1bce456",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1110,
        "y": 740,
        "wires": [
            [
                "79f057dc97cd535d"
            ]
        ]
    },
    {
        "id": "56570855d84835e6",
        "type": "link in",
        "z": "3992c3350543bb36",
        "name": "OpenRecord",
        "links": [
            "a132ec7ff53dad98"
        ],
        "x": 275,
        "y": 820,
        "wires": [
            [
                "8284d3ab790b6727"
            ]
        ]
    },
    {
        "id": "a6b2b8835dac685d",
        "type": "ui_button",
        "z": "3992c3350543bb36",
        "name": "Refresh Table",
        "group": "6b0fc43246790e58",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 740,
        "wires": [
            [
                "8284d3ab790b6727"
            ]
        ]
    },
    {
        "id": "6e0cac4811889364",
        "type": "ui_button",
        "z": "3992c3350543bb36",
        "name": "Return Home Page",
        "group": "6b0fc43246790e58",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-home",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 1040,
        "wires": [
            [
                "208cd3ae5cf725a2"
            ]
        ]
    },
    {
        "id": "208cd3ae5cf725a2",
        "type": "change",
        "z": "3992c3350543bb36",
        "name": "Back Home Page",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"tab\": \"Home\" }",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "page",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1040,
        "wires": [
            [
                "984faef01cd2e8cc"
            ]
        ]
    },
    {
        "id": "7d78fd684bf83575",
        "type": "function",
        "z": "3992c3350543bb36",
        "g": "2e4c42bec1bce456",
        "name": "FilterPlant",
        "func": "var CurrentTree = global.get(\"CurrentTree\") || \"\"\nif(CurrentTree != \"\" && msg.topic == CurrentTree)\n{\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 620,
        "wires": [
            [
                "ce9f824367f96706",
                "0e6d4dde7f49cd10"
            ]
        ]
    },
    {
        "id": "0182112f9ba31b02",
        "type": "link in",
        "z": "3992c3350543bb36",
        "name": "link in 1",
        "links": [
            "4275e1d50c63086d"
        ],
        "x": 655,
        "y": 220,
        "wires": [
            [
                "5de6cd24faed8d8a"
            ]
        ]
    },
    {
        "id": "8284d3ab790b6727",
        "type": "function",
        "z": "3992c3350543bb36",
        "name": "Refresh Current Table",
        "func": "var CurrentTree = global.get(\"CurrentTree\") || \"\"\nif (CurrentTree != \"\") {\n    var path = \"DataLog/\";\n    path += CurrentTree;\n    msg.payload = path\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 740,
        "wires": [
            [
                "3f3da21ff2f1feef"
            ]
        ]
    },
    {
        "id": "984faef01cd2e8cc",
        "type": "link out",
        "z": "3992c3350543bb36",
        "name": "ControlUI",
        "mode": "link",
        "links": [
            "baca40bda0b4d1b0"
        ],
        "x": 1275,
        "y": 1040,
        "wires": []
    },
    {
        "id": "5de6cd24faed8d8a",
        "type": "ui_text",
        "z": "3992c3350543bb36",
        "group": "b89b7c34fae54a61",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "TreeName",
        "label": "<font><i class=\"fa fa-pagelines\" aria-hidden=\"true\"></i></font>",
        "format": "{{value | uppercase}} ",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Times New Roman,Times,serif",
        "fontSize": "30",
        "color": "#000000",
        "x": 790,
        "y": 220,
        "wires": []
    },
    {
        "id": "9ef2c6708bf36923",
        "type": "comment",
        "z": "3992c3350543bb36",
        "g": "8f58b7ee2d4d3590",
        "name": "Table Record",
        "info": "",
        "x": 1890,
        "y": 720,
        "wires": []
    },
    {
        "id": "8a3b836e5d655ea4",
        "type": "comment",
        "z": "3992c3350543bb36",
        "g": "2e4c42bec1bce456",
        "name": "Data Input",
        "info": "",
        "x": 820,
        "y": 680,
        "wires": []
    },
    {
        "id": "925788d8689ed1fd",
        "type": "switch",
        "z": "0b1ec363aa46d36b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 460,
        "wires": [
            [
                "0e8f876aed90b611"
            ],
            [
                "7e0799a939447de8"
            ]
        ]
    },
    {
        "id": "7e0799a939447de8",
        "type": "change",
        "z": "0b1ec363aa46d36b",
        "name": "Loging",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"tab\": \"Home\" }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 500,
        "wires": [
            [
                "b3cf422f08c5a216"
            ]
        ]
    },
    {
        "id": "ea2113e26a0ec2af",
        "type": "ui_toast",
        "z": "0b1ec363aa46d36b",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1350,
        "y": 180,
        "wires": []
    },
    {
        "id": "0e8f876aed90b611",
        "type": "change",
        "z": "0b1ec363aa46d36b",
        "name": "Wrong",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Incorrect",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 420,
        "wires": [
            [
                "afbe7059f2fc282f"
            ]
        ]
    },
    {
        "id": "492f921f48b03c6d",
        "type": "ui_form",
        "z": "0b1ec363aa46d36b",
        "name": "Login",
        "label": "",
        "group": "6dc0b01ed2a0513b",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "Login",
        "cancel": "Cancel",
        "topic": "Form",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 350,
        "y": 180,
        "wires": [
            [
                "969fb6998c7ec251",
                "667d9a283341306c"
            ]
        ]
    },
    {
        "id": "969fb6998c7ec251",
        "type": "function",
        "z": "0b1ec363aa46d36b",
        "name": "Check_User",
        "func": "msg.topic = \"Check\";\nvar user = global.get('user') || \"admin\";\nvar password = global.get('password') || \"\";\nif (msg.payload.username == user && msg.payload.password == password)\n    msg.payload = true;\nelse\n{\n    if (msg.payload.username != user)\n        flow.set(\"Login_Wrong\",\"username\");\n    else\n        flow.set(\"Login_Wrong\", \"password\");\n    msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 340,
        "wires": [
            [
                "925788d8689ed1fd",
                "667d9a283341306c"
            ]
        ]
    },
    {
        "id": "667d9a283341306c",
        "type": "function",
        "z": "0b1ec363aa46d36b",
        "name": "Welcome_Back",
        "func": "var name = context.get(\"name\");\n\nif(msg.topic == \"Form\")\n    context.set(\"name\", msg.payload.username);\nif(msg.topic == \"Check\")\n    {\n        if(msg.payload)\n        {\n            msg.payload = \"Welcome back \"+ name;\n            global.set(\"LogIn\",true)\n            return msg;\n        }\n    }\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 180,
        "wires": [
            [
                "ea2113e26a0ec2af"
            ]
        ]
    },
    {
        "id": "afbe7059f2fc282f",
        "type": "function",
        "z": "0b1ec363aa46d36b",
        "name": "Notification_Wrong",
        "func": "var wrong = flow.get(\"Login_Wrong\");\n\nif (wrong == \"username\")\n    msg.payload = \"Invalid username. Try again!\";\nif (wrong == \"password\")\n    msg.payload = \"Wrong password. Try again!\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 300,
        "wires": [
            [
                "ea2113e26a0ec2af"
            ]
        ]
    },
    {
        "id": "0143a11106937f75",
        "type": "ui_text",
        "z": "0b1ec363aa46d36b",
        "group": "6dc0b01ed2a0513b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "Log In",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "20",
        "color": "#ffffff",
        "x": 370,
        "y": 120,
        "wires": []
    },
    {
        "id": "b3cf422f08c5a216",
        "type": "link out",
        "z": "0b1ec363aa46d36b",
        "name": "ControlUI",
        "mode": "link",
        "links": [
            "baca40bda0b4d1b0"
        ],
        "x": 1045,
        "y": 500,
        "wires": []
    },
    {
        "id": "c4cbda325e0bd937",
        "type": "ui_form",
        "z": "7883bef42eddac18",
        "g": "b2cac071bf1e45a3",
        "name": "Change User",
        "label": "Change User",
        "group": "86c7b1f9cabac475",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "currentname",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "currentpassword",
                "type": "password",
                "required": false,
                "rows": null
            },
            {
                "label": "New Username",
                "value": "newname",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "New Password",
                "value": "newpassword",
                "type": "password",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "currentname": "",
            "currentpassword": "",
            "newname": "",
            "newpassword": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 230,
        "y": 400,
        "wires": [
            [
                "9131437184a8754c"
            ]
        ]
    },
    {
        "id": "9131437184a8754c",
        "type": "function",
        "z": "7883bef42eddac18",
        "g": "b2cac071bf1e45a3",
        "name": "ChangeAuthor",
        "func": "var user = global.get('user') || \"admin\";\nvar password = global.get('password') || \"\";\n\nif (msg.payload.currentname == user && msg.payload.currentpassword == password)\n{\n    global.set('user', msg.payload.newname)\n    global.set('password', msg.payload.newpassword)\n    msg.payload = \"Change successfully\"\n}\nelse\n{\n    if (msg.payload.currentname != user)\n        msg.payload = \"Invalid user\"\n    else if (msg.payload.currentpassword != password)\n        msg.payload = \"Invalid password\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 400,
        "wires": [
            [
                "8f2ba7bc71066103",
                "27348669113d5e55"
            ]
        ]
    },
    {
        "id": "7af662ab9bbeb99a",
        "type": "ui_button",
        "z": "7883bef42eddac18",
        "name": "Return Home Page",
        "group": "645689cb032a4e45",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Home",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-home",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1530,
        "y": 420,
        "wires": [
            [
                "f80d2fd4e25cfc6a"
            ]
        ]
    },
    {
        "id": "f80d2fd4e25cfc6a",
        "type": "change",
        "z": "7883bef42eddac18",
        "name": "HomePage",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"tab\": \"Home\" }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1750,
        "y": 420,
        "wires": [
            [
                "7efc81c708b31a07"
            ]
        ]
    },
    {
        "id": "55ab61b7fb9f0b29",
        "type": "link in",
        "z": "7883bef42eddac18",
        "name": "OpenSetting",
        "links": [
            "e3cb737b90d7a46e"
        ],
        "x": 1625,
        "y": 380,
        "wires": [
            [
                "7a88e42dbd84cd22"
            ]
        ]
    },
    {
        "id": "7a88e42dbd84cd22",
        "type": "change",
        "z": "7883bef42eddac18",
        "name": "InitSetting",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Setting_ConfigureUser\",\"Setting_GmailChange\",\"Setting_Phone\"],\"show\":[\"Setting_Setting\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 380,
        "wires": [
            [
                "7efc81c708b31a07"
            ]
        ]
    },
    {
        "id": "08696175be21e115",
        "type": "ui_button",
        "z": "7883bef42eddac18",
        "g": "b838c7a2ac666cfb",
        "name": "",
        "group": "645689cb032a4e45",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Log Out",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-sign-out",
        "payload": "Log out. Good bye!",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1380,
        "y": 1080,
        "wires": [
            [
                "af49d308952e9952"
            ]
        ]
    },
    {
        "id": "e05bab43800f6790",
        "type": "change",
        "z": "7883bef42eddac18",
        "g": "b838c7a2ac666cfb",
        "name": "Log Out",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"tab\": \"Login\" }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 1080,
        "wires": [
            [
                "7efc81c708b31a07"
            ]
        ]
    },
    {
        "id": "33e0e4139010dc5c",
        "type": "change",
        "z": "7883bef42eddac18",
        "name": "Back",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Setting_ConfigureUser\",\"Setting_GmailChange\",\"Setting_Phone\"],\"show\":[\"Setting_Setting\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 460,
        "wires": [
            [
                "7efc81c708b31a07"
            ]
        ]
    },
    {
        "id": "05b2be7fce90053f",
        "type": "ui_button",
        "z": "7883bef42eddac18",
        "name": "Change User & Password",
        "group": "645689cb032a4e45",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Change User & Password",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-user",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1470,
        "y": 500,
        "wires": [
            [
                "87ae274016b0defb"
            ]
        ]
    },
    {
        "id": "87ae274016b0defb",
        "type": "change",
        "z": "7883bef42eddac18",
        "name": "Change",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Setting_ConfigureUser\"],\"hide\":[\"Setting_Setting\",\"Setting_GmailChange\",\"Setting_Phone\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 500,
        "wires": [
            [
                "7efc81c708b31a07"
            ]
        ]
    },
    {
        "id": "8f2ba7bc71066103",
        "type": "switch",
        "z": "7883bef42eddac18",
        "name": "Success Change",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Change successfully",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 460,
        "wires": [
            [
                "c56ccd9ed01a7af4"
            ]
        ]
    },
    {
        "id": "225938e5e85e31f0",
        "type": "ui_button",
        "z": "7883bef42eddac18",
        "name": "",
        "group": "645689cb032a4e45",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Notification",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-bell",
        "payload": "",
        "payloadType": "str",
        "topic": "Change",
        "topicType": "str",
        "x": 1050,
        "y": 560,
        "wires": [
            [
                "80e518d238df0579",
                "6fda75b706412420"
            ]
        ]
    },
    {
        "id": "e0a466cba41379e0",
        "type": "function",
        "z": "7883bef42eddac18",
        "g": "b2cac071bf1e45a3",
        "name": "SetGmail",
        "func": "var mail = global.get(\"mail\") || \"\"\n\nif (mail == \"\" || mail != msg.payload.gmail){\n    global.set(\"mail\", msg.payload.gmail)\n    msg.payload = \"Change successfully\"\n}else{\n    msg.payload = \"No change\"\n}\n\nreturn msg\n    \n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 460,
        "wires": [
            [
                "8f2ba7bc71066103",
                "c30c83c2e83b4163"
            ]
        ]
    },
    {
        "id": "a3fe33bdf652e21e",
        "type": "ui_form",
        "z": "7883bef42eddac18",
        "g": "b2cac071bf1e45a3",
        "name": "",
        "label": "GmailChange",
        "group": "e6c1acfed343481e",
        "order": 6,
        "width": 24,
        "height": 1,
        "options": [
            {
                "label": "Gmail",
                "value": "gmail",
                "type": "email",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "gmail": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 260,
        "y": 460,
        "wires": [
            [
                "e0a466cba41379e0"
            ]
        ]
    },
    {
        "id": "80e518d238df0579",
        "type": "change",
        "z": "7883bef42eddac18",
        "name": "Change",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Setting_GmailChange\"],\"hide\":[\"Setting_Setting\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 560,
        "wires": [
            [
                "7efc81c708b31a07"
            ]
        ]
    },
    {
        "id": "c56ccd9ed01a7af4",
        "type": "ui_button",
        "z": "7883bef42eddac18",
        "name": "Back",
        "group": "86c7b1f9cabac475",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": true,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-cog",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1030,
        "y": 460,
        "wires": [
            [
                "6bcf177134cdb33d"
            ]
        ]
    },
    {
        "id": "6bcf177134cdb33d",
        "type": "ui_button",
        "z": "7883bef42eddac18",
        "name": "Back",
        "group": "e6c1acfed343481e",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": true,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-cog",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1250,
        "y": 460,
        "wires": [
            [
                "1b98c36794bbf287"
            ]
        ]
    },
    {
        "id": "fa960b1330c37a74",
        "type": "ui_text",
        "z": "7883bef42eddac18",
        "group": "e6c1acfed343481e",
        "order": 3,
        "width": 22,
        "height": 1,
        "name": "Name",
        "label": "Current Gmail: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1630,
        "y": 740,
        "wires": []
    },
    {
        "id": "6fda75b706412420",
        "type": "function",
        "z": "7883bef42eddac18",
        "name": "GetGmail",
        "func": "var mail = global.get(\"mail\") || \"\"\nif (msg.topic == \"Change\"){\n    if( mail == \"\"){\n        msg.payload = \"Not Yet\"\n    }else{\n        msg.payload = mail\n    }\n}\nif (msg.topic == \"Reset\"){\n    msg.payload = \"Not Yet\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 740,
        "wires": [
            [
                "fa960b1330c37a74"
            ]
        ]
    },
    {
        "id": "af49d308952e9952",
        "type": "function",
        "z": "7883bef42eddac18",
        "g": "b838c7a2ac666cfb",
        "name": "LogOut",
        "func": "global.set(\"LogIn\", false)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 1080,
        "wires": [
            [
                "e05bab43800f6790"
            ]
        ]
    },
    {
        "id": "7efc81c708b31a07",
        "type": "link out",
        "z": "7883bef42eddac18",
        "name": "ControlUI",
        "mode": "link",
        "links": [
            "baca40bda0b4d1b0"
        ],
        "x": 2005,
        "y": 720,
        "wires": []
    },
    {
        "id": "93762de513da450c",
        "type": "ui_button",
        "z": "7883bef42eddac18",
        "g": "dded3b9f8c330919",
        "name": "Reset Gmail",
        "group": "e6c1acfed343481e",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-trash",
        "payload": "",
        "payloadType": "str",
        "topic": "Reset",
        "topicType": "str",
        "x": 210,
        "y": 1300,
        "wires": [
            [
                "2cd67180572b7ffd"
            ]
        ]
    },
    {
        "id": "2cd67180572b7ffd",
        "type": "function",
        "z": "7883bef42eddac18",
        "g": "dded3b9f8c330919",
        "name": "ResetGmail",
        "func": "var mail = global.get(\"mail\") || \"\"\nif (msg.topic == \"Reset\") {\n    if (mail == \"\") {\n        msg.payload = \"Nothing to Reset\"\n    } else {\n        global.set(\"mail\", \"\")\n        msg.payload = \"Reset Gmail successfully\"\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1300,
        "wires": [
            [
                "024ab3dc8bfda136",
                "9cb777bf3c98be66"
            ]
        ]
    },
    {
        "id": "024ab3dc8bfda136",
        "type": "link out",
        "z": "7883bef42eddac18",
        "g": "dded3b9f8c330919",
        "name": "TextGmail",
        "mode": "link",
        "links": [
            "2d65db03d877412e"
        ],
        "x": 535,
        "y": 1300,
        "wires": []
    },
    {
        "id": "2d65db03d877412e",
        "type": "link in",
        "z": "7883bef42eddac18",
        "name": "TextGmail",
        "links": [
            "024ab3dc8bfda136"
        ],
        "x": 1125,
        "y": 740,
        "wires": [
            [
                "6fda75b706412420"
            ]
        ]
    },
    {
        "id": "7b2b68a60bb57afe",
        "type": "ui_form",
        "z": "7883bef42eddac18",
        "g": "b2cac071bf1e45a3",
        "name": "PhoneChange",
        "label": "Phone  via WhatsApp",
        "group": "3df901b014d88607",
        "order": 6,
        "width": 24,
        "height": 1,
        "options": [
            {
                "label": "Phone Number",
                "value": "Phone",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "API",
                "value": "Api",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Phone": "",
            "Api": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 220,
        "y": 520,
        "wires": [
            [
                "fdc1c3fe0c3f6fe3"
            ]
        ]
    },
    {
        "id": "fdc1c3fe0c3f6fe3",
        "type": "function",
        "z": "7883bef42eddac18",
        "g": "b2cac071bf1e45a3",
        "name": "SetPhone",
        "func": "var api = global.get(\"api\") || \"\"\nvar phone = global.get(\"phone\") || \"\"\n\nif ((api == \"\" || api != msg.payload.Api) && (phone == \"\" || phone != msg.payload.Phone) ) {\n    global.set(\"api\", msg.payload.Api)\n    global.set(\"phone\", msg.payload.Phone)\n    msg.payload = \"Change successfully\"\n} else {\n    msg.payload = \"No change\"\n}\n\nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 520,
        "wires": [
            [
                "8f2ba7bc71066103",
                "24cee6f879b25261"
            ]
        ]
    },
    {
        "id": "1b98c36794bbf287",
        "type": "ui_button",
        "z": "7883bef42eddac18",
        "name": "Back",
        "group": "3df901b014d88607",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": true,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-cog",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1430,
        "y": 460,
        "wires": [
            [
                "33e0e4139010dc5c"
            ]
        ]
    },
    {
        "id": "0db91ccf8b50d0b7",
        "type": "change",
        "z": "7883bef42eddac18",
        "name": "Change",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Setting_Phone\"],\"hide\":[\"Setting_Setting\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 820,
        "wires": [
            [
                "7efc81c708b31a07"
            ]
        ]
    },
    {
        "id": "8e98e3ca10452132",
        "type": "ui_button",
        "z": "7883bef42eddac18",
        "name": "Phone",
        "group": "645689cb032a4e45",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Phone",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-whatsapp",
        "payload": "",
        "payloadType": "str",
        "topic": "Change",
        "topicType": "str",
        "x": 1070,
        "y": 820,
        "wires": [
            [
                "0db91ccf8b50d0b7",
                "79a95508963b65f4"
            ]
        ]
    },
    {
        "id": "1608247743a21848",
        "type": "ui_button",
        "z": "7883bef42eddac18",
        "g": "dded3b9f8c330919",
        "name": "Reset Phone",
        "group": "3df901b014d88607",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-trash",
        "payload": "",
        "payloadType": "str",
        "topic": "Reset",
        "topicType": "str",
        "x": 210,
        "y": 1180,
        "wires": [
            [
                "14e5fbbe7a12e26c"
            ]
        ]
    },
    {
        "id": "14e5fbbe7a12e26c",
        "type": "function",
        "z": "7883bef42eddac18",
        "g": "dded3b9f8c330919",
        "name": "ResetPhone",
        "func": "var api = global.get(\"api\") || \"\"\nvar phone = global.get(\"phone\") || \"\"\n\nif (msg.topic == \"Reset\") {\n    if (api == \"\" && phone == \"\") {\n        msg.payload = \"Nothing to Reset\"\n    } else {\n        global.set(\"api\", \"\")\n        global.set(\"phone\", \"\")\n        msg.payload = \"Reset Phone successfully\"\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1180,
        "wires": [
            [
                "51102038c4bd9b0b",
                "9cb777bf3c98be66"
            ]
        ]
    },
    {
        "id": "79a95508963b65f4",
        "type": "function",
        "z": "7883bef42eddac18",
        "name": "GetPhone",
        "func": "var api = global.get(\"api\") || \"\"\nvar phone = global.get(\"phone\") || \"\"\n\nif (msg.topic == \"Change\"){\n    if( api == \"\" || phone == \"\"){\n        msg.payload = \"No Set Up\"\n    }else{\n        msg.payload = \"Phone Number: \" + phone + \"               API: \"+api\n    }\n}\nif (msg.topic == \"Reset\"){\n    msg.payload = \"No Set Up\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 880,
        "wires": [
            [
                "2a6208285e5a76d2"
            ]
        ]
    },
    {
        "id": "2a6208285e5a76d2",
        "type": "ui_text",
        "z": "7883bef42eddac18",
        "group": "3df901b014d88607",
        "order": 3,
        "width": 22,
        "height": 1,
        "name": "Name",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1630,
        "y": 880,
        "wires": []
    },
    {
        "id": "51102038c4bd9b0b",
        "type": "link out",
        "z": "7883bef42eddac18",
        "g": "dded3b9f8c330919",
        "name": "TextPhone",
        "mode": "link",
        "links": [
            "846527bf1f7844d8"
        ],
        "x": 535,
        "y": 1180,
        "wires": []
    },
    {
        "id": "846527bf1f7844d8",
        "type": "link in",
        "z": "7883bef42eddac18",
        "name": "TextPhone",
        "links": [
            "51102038c4bd9b0b"
        ],
        "x": 1125,
        "y": 880,
        "wires": [
            [
                "79a95508963b65f4"
            ]
        ]
    },
    {
        "id": "876e2e8dcb660b79",
        "type": "ui_button",
        "z": "7883bef42eddac18",
        "g": "75fef17815e67be0",
        "name": "Info Gmail Change",
        "group": "e6c1acfed343481e",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-info-circle",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 690,
        "y": 1600,
        "wires": [
            [
                "446d2937a4a67fee"
            ]
        ]
    },
    {
        "id": "e802b42b2a987660",
        "type": "ui_toast",
        "z": "7883bef42eddac18",
        "g": "75fef17815e67be0",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1270,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "446d2937a4a67fee",
        "type": "template",
        "z": "7883bef42eddac18",
        "g": "75fef17815e67be0",
        "name": "Template PopUp  Gmail",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<h1>How to Notificate via Gmail </h1>\n\n<div> Enter gmail you want to receive notification </div>",
        "output": "str",
        "x": 950,
        "y": 1600,
        "wires": [
            [
                "e802b42b2a987660"
            ]
        ]
    },
    {
        "id": "dc681dfa5f79dd27",
        "type": "ui_button",
        "z": "7883bef42eddac18",
        "g": "75fef17815e67be0",
        "name": "Info Phone Change",
        "group": "3df901b014d88607",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-info-circle",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 690,
        "y": 1720,
        "wires": [
            [
                "7eca76ab547f9913"
            ]
        ]
    },
    {
        "id": "7eca76ab547f9913",
        "type": "template",
        "z": "7883bef42eddac18",
        "g": "75fef17815e67be0",
        "name": "Template PopUp  Phone",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<h1>How to Notificate via Phone </h1>\n<li>Install WhatsApp</li>\n<li>Add the phone number <b>+34 644 95 42 75</b> into your Phone Contacts. (Name it it as you wish)</li>\n<li>Send this message <b>I allow callmebot to send me messages</b> to the new Contact created</li>\n<li>Wait until you receive the message <b>API Activated for your phone number. Your APIKEY is XXXXXX</b> from the bot</li>\n<div>Note: If you don't receive the ApiKey in 2 minutes, please try again after 24hs</div>\n<li>Enter API and Phone number to receive Notification</li>",
        "output": "str",
        "x": 950,
        "y": 1720,
        "wires": [
            [
                "e802b42b2a987660"
            ]
        ]
    },
    {
        "id": "f5f2f5a6cdc5859e",
        "type": "comment",
        "z": "7883bef42eddac18",
        "g": "75fef17815e67be0",
        "name": "Pop Up Window",
        "info": "",
        "x": 1280,
        "y": 1580,
        "wires": []
    },
    {
        "id": "4c976ce11e54b3c9",
        "type": "ui_toast",
        "z": "7883bef42eddac18",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2760,
        "y": 1300,
        "wires": []
    },
    {
        "id": "7ca83e580858c3a5",
        "type": "link in",
        "z": "7883bef42eddac18",
        "name": "Notificate OnTop Right",
        "links": [
            "9cb777bf3c98be66",
            "27348669113d5e55",
            "c30c83c2e83b4163",
            "24cee6f879b25261"
        ],
        "x": 2545,
        "y": 1300,
        "wires": [
            [
                "4c976ce11e54b3c9"
            ]
        ]
    },
    {
        "id": "9cb777bf3c98be66",
        "type": "link out",
        "z": "7883bef42eddac18",
        "g": "dded3b9f8c330919",
        "name": "Notificate OnTop Right",
        "mode": "link",
        "links": [
            "7ca83e580858c3a5"
        ],
        "x": 535,
        "y": 1240,
        "wires": []
    },
    {
        "id": "27348669113d5e55",
        "type": "link out",
        "z": "7883bef42eddac18",
        "g": "b2cac071bf1e45a3",
        "name": "Notificate OnTop Right",
        "mode": "link",
        "links": [
            "7ca83e580858c3a5"
        ],
        "x": 585,
        "y": 400,
        "wires": []
    },
    {
        "id": "c30c83c2e83b4163",
        "type": "link out",
        "z": "7883bef42eddac18",
        "g": "b2cac071bf1e45a3",
        "name": "Notificate OnTop Right",
        "mode": "link",
        "links": [
            "7ca83e580858c3a5"
        ],
        "x": 585,
        "y": 460,
        "wires": []
    },
    {
        "id": "24cee6f879b25261",
        "type": "link out",
        "z": "7883bef42eddac18",
        "g": "b2cac071bf1e45a3",
        "name": "Notificate OnTop Right",
        "mode": "link",
        "links": [
            "7ca83e580858c3a5"
        ],
        "x": 585,
        "y": 520,
        "wires": []
    },
    {
        "id": "031f824eb2687ed2",
        "type": "comment",
        "z": "7883bef42eddac18",
        "g": "dded3b9f8c330919",
        "name": "Reset Config",
        "info": "",
        "x": 230,
        "y": 1240,
        "wires": []
    },
    {
        "id": "8f601bb2eb48c76e",
        "type": "comment",
        "z": "7883bef42eddac18",
        "g": "b2cac071bf1e45a3",
        "name": "Set Config",
        "info": "",
        "x": 400,
        "y": 340,
        "wires": []
    },
    {
        "id": "b61dab2e70dd53f7",
        "type": "comment",
        "z": "7883bef42eddac18",
        "g": "b838c7a2ac666cfb",
        "name": "Log Out ",
        "info": "",
        "x": 1570,
        "y": 1040,
        "wires": []
    },
    {
        "id": "99e13b1dc7ecaa22",
        "type": "firebase-get",
        "z": "9f5704f675d02eb6",
        "name": "",
        "constraint": {},
        "database": "9bdf6ea296ef5609",
        "outputType": "auto",
        "passThrough": false,
        "path": "payload",
        "pathType": "msg",
        "useConstraint": false,
        "x": 570,
        "y": 340,
        "wires": [
            [
                "857f02fd67b417e4"
            ]
        ]
    },
    {
        "id": "2173dfc0ba26c9f8",
        "type": "inject",
        "z": "9f5704f675d02eb6",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "DataLog/",
        "payloadType": "str",
        "x": 380,
        "y": 340,
        "wires": [
            [
                "99e13b1dc7ecaa22"
            ]
        ]
    },
    {
        "id": "857f02fd67b417e4",
        "type": "split",
        "z": "9f5704f675d02eb6",
        "name": "Split ID & Object",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 780,
        "y": 340,
        "wires": [
            [
                "ae8bc9caaa27a38b"
            ]
        ]
    },
    {
        "id": "ae8bc9caaa27a38b",
        "type": "split",
        "z": "9f5704f675d02eb6",
        "name": "Split timestamp & Data",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "timestamp",
        "x": 1000,
        "y": 340,
        "wires": [
            [
                "f90b96649cef3160"
            ]
        ]
    },
    {
        "id": "f90b96649cef3160",
        "type": "function",
        "z": "9f5704f675d02eb6",
        "name": "Convert JSON",
        "func": "var json = {\n    \"ID\": msg.topic,\n    \"time\": msg.timestamp,\n    \"Error_DHT\": msg.payload.Error.DHT11,\n    \"Error_LDR\": msg.payload.Error.LDR,\n    \"Error_Soil\": msg.payload.Error.Soil,\n    \"Name\": msg.payload.Name,\n    \"Days\": msg.payload.Plant.Days,\n    \"Humidity\": msg.payload.Sensor.DHT11.Humi,\n    \"Temperature\": msg.payload.Sensor.DHT11.Temp,\n    \"Light\": msg.payload.Sensor.Light,\n    \"Solid\": msg.payload.Sensor.Solid,\n    \"LED\": msg.payload.Status.Led,\n    \"MQTT\": msg.payload.Status.MQTT,\n    \"Pump\": msg.payload.Status.Pump\n};\nmsg.payload = json\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 340,
        "wires": [
            [
                "694e7c672a78ac69"
            ]
        ]
    },
    {
        "id": "694e7c672a78ac69",
        "type": "file",
        "z": "9f5704f675d02eb6",
        "name": "StoreData",
        "filename": "D:\\UIT\\Project\\Project2\\Clone\\Smart-big-garden-management-IoT-system\\Server\\data\\dataml.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1460,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "d030a89ea742a909",
        "type": "e-mail",
        "z": "071ee232d3ea60d6",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "Notification",
        "x": 950,
        "y": 660,
        "wires": []
    },
    {
        "id": "42b60c84f8fa1fdf",
        "type": "link in",
        "z": "071ee232d3ea60d6",
        "name": "Notificate",
        "links": [
            "cfe003dd12352264"
        ],
        "x": 165,
        "y": 660,
        "wires": [
            [
                "ca2c570997795358",
                "935dbef6e0b17f67"
            ]
        ]
    },
    {
        "id": "ca2c570997795358",
        "type": "function",
        "z": "071ee232d3ea60d6",
        "name": "Check Error",
        "func": "var ErrorRecord = flow.get(\"ErrorRecord\") || [];\nvar json = {\n    \"error_dht\": msg.payload.Error.DHT11,\n    \"error_light\": msg.payload.Error.LDR,\n    \"error_soil\": msg.payload.Error.Soil,\n}\n\n// Find ID if it has\nvar flag = -1;\nfor(let i =0; i<ErrorRecord.length;i++)\n{\n    if(ErrorRecord[i].id == msg.topic){\n        flag = i;\n        break;\n    }\n}\n\nif(flag == -1) // Save new ID\n{\n    ErrorRecord.unshift({\n    \"id\": msg.topic,\n    \"data\": json\n    });\n    flow.set(\"ErrorRecord\", ErrorRecord);\n    if (json.error_dht == \"1\" || json.error_light == \"1\" || json.error_soil == \"1\"){\n        msg.payload = \"SendAllError\"\n        return msg;\n    }\n}else{ //Check Error\n    var change = false;\n    var tmpData = ErrorRecord[flag];\n    if (json.error_dht == \"1\" && tmpData.data.error_dht == \"0\"){\n        change = true\n    }\n    if (json.error_light == \"1\" && tmpData.data.error_light == \"0\") {\n        change = true\n        \n    }\n    if (json.error_soil == \"1\" && tmpData.data.error_soil == \"0\") {\n        change = true \n    }\n    //Save change data\n    ErrorRecord[flag] = {\n        \"id\": msg.topic,\n        \"data\": json\n    };\n    flow.set(\"ErrorRecord\", ErrorRecord);\n    if(change){\n        msg.payload = \"SendAllError\"\n        return msg;\n    }\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 660,
        "wires": [
            [
                "2af11f27a9fc72c8",
                "e9e9c4a246d21964"
            ]
        ]
    },
    {
        "id": "2af11f27a9fc72c8",
        "type": "function",
        "z": "071ee232d3ea60d6",
        "name": "PreSend (Gmail) ",
        "func": "var mail = global.get(\"mail\") || \"\"\nvar ErrorRecord = flow.get(\"ErrorRecord\") || [];\n\nif(mail != \"\"){\n    msg.to = mail\n    var message = \"\"\n    if (msg.payload == \"SendAllError\"){\n        msg.topic = \"Error Sensor List\"\n        var mess = \"\"\n        for (let i = 0; i < ErrorRecord.length; i++) {\n            var tmpData = ErrorRecord[i].data\n            if (tmpData.error_dht == \"1\" || tmpData.error_light == \"1\" || tmpData.error_soil == \"1\") {\n                mess += \"ID: \" + String(ErrorRecord[i].id) + \" \\n\"\n                if(tmpData.error_dht == \"1\" )\n                    mess += \"- DHT Sensor: Error\\n\"\n                if(tmpData.error_light == \"1\" )\n                    mess += \"- Light Sensor: Error\\n\"\n                if(tmpData.error_soil == \"1\" )\n                    mess += \"- Soil Moisture Sensor: Error\\n\"\n            }\n        }\n        msg.payload = mess\n    }\n\n    return msg\n    \n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 660,
        "wires": [
            [
                "d030a89ea742a909"
            ]
        ]
    },
    {
        "id": "e9e9c4a246d21964",
        "type": "function",
        "z": "071ee232d3ea60d6",
        "name": "PreSend (WhatsApp) ",
        "func": "var api = global.get('api') || \"\"\nvar phone = global.get('phone') ||\"\"\nvar ErrorRecord = flow.get(\"ErrorRecord\") || [];\n\nif(api != \"\" && phone != \"\"){\n    msg.api = api\n    msg.phone = phone\n    var message = \"\"\n    if (msg.payload == \"SendAllError\"){\n        msg.topic = \"Error Sensor List\"\n        var mess = \"\"\n        for (let i = 0; i < ErrorRecord.length; i++) {\n            var tmpData = ErrorRecord[i].data\n            if (tmpData.error_dht == \"1\" || tmpData.error_light == \"1\" || tmpData.error_soil == \"1\") {\n                mess += \"ID: \" + String(ErrorRecord[i].id) + \" \\n\"\n                if(tmpData.error_dht == \"1\" )\n                    mess += \"- DHT Sensor: Error\\n\"\n                if(tmpData.error_light == \"1\" )\n                    mess += \"- Light Sensor: Error\\n\"\n                if(tmpData.error_soil == \"1\" )\n                    mess += \"- Soil Moisture Sensor: Error\\n\"\n            }\n        }\n        msg.text = mess\n    }\n\n    return msg\n    \n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 440,
        "wires": [
            [
                "9de6e6cf6709b6c9"
            ]
        ]
    },
    {
        "id": "9de6e6cf6709b6c9",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "071ee232d3ea60d6",
        "name": "",
        "credtype": "vars",
        "account": "",
        "text": "text",
        "phonenumbervalue": "phone",
        "apikeyvalue": "api",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 940,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "935dbef6e0b17f67",
        "type": "function",
        "z": "071ee232d3ea60d6",
        "name": "Storage OutOf",
        "func": "var OutOfRecord = flow.get(\"OutOfRecord\") || [];\nvar json = {\n    \"light\": msg.payload.Status.Led,\n    \"pump\": msg.payload.Status.Pump,\n}\nvar date = new Date();\n\n// Find ID if it has\nvar flag = -1;\nfor (let i = 0; i < OutOfRecord.length; i++) {\n    if (OutOfRecord[i].id == msg.topic) {\n        flag = i;\n        break;\n    }\n}\n\nif (flag == -1) // Save new ID\n{\n    OutOfRecord.unshift({\n        \"id\": msg.topic,\n        \"data\": json\n    });\n    flow.set(\"OutOfRecord\", OutOfRecord);\n    \n} else { //Check Error\n    //Save change data\n    OutOfRecord[flag] = {\n        \"id\": msg.topic,\n        \"data\": json\n    };\n    flow.set(\"OutOfRecord\", OutOfRecord);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "a533d84ac893867f",
        "type": "function",
        "z": "071ee232d3ea60d6",
        "name": "Check OutOf",
        "func": "var OutOfRecord = flow.get(\"OutOfRecord\") || [];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "86530270e03db138",
        "type": "http in",
        "z": "83c672bb152df239",
        "name": "Test",
        "url": "/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 420,
        "wires": [
            [
                "347ce60749238d02"
            ]
        ]
    },
    {
        "id": "c982cb73c0bc6044",
        "type": "http response",
        "z": "83c672bb152df239",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 680,
        "y": 420,
        "wires": []
    },
    {
        "id": "347ce60749238d02",
        "type": "template",
        "z": "83c672bb152df239",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Document</title>\n</head>\n<body>\n    <h1>Hello world</h1>\n</body>\n</html>",
        "output": "str",
        "x": 460,
        "y": 420,
        "wires": [
            [
                "c982cb73c0bc6044"
            ]
        ]
    },
    {
        "id": "143d4278434727f8",
        "type": "ui_ui_control",
        "z": "4e5980765b3b01db",
        "name": "",
        "events": "all",
        "x": 600,
        "y": 380,
        "wires": [
            [
                "c6cb4b3c72987c76"
            ]
        ]
    },
    {
        "id": "baca40bda0b4d1b0",
        "type": "link in",
        "z": "4e5980765b3b01db",
        "name": "ControlUI",
        "links": [
            "edb144550d507935",
            "984faef01cd2e8cc",
            "b3cf422f08c5a216",
            "7efc81c708b31a07",
            "0655ae150a96f5b7"
        ],
        "x": 405,
        "y": 380,
        "wires": [
            [
                "143d4278434727f8"
            ]
        ]
    },
    {
        "id": "c6cb4b3c72987c76",
        "type": "function",
        "z": "4e5980765b3b01db",
        "g": "0c68598919b2722c",
        "name": "AlreadyLogIn",
        "func": "var LogIn = global.get(\"LogIn\") || false\nif(!LogIn && msg.tab != 0 && msg.name != \"Login\"){\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 380,
        "wires": [
            [
                "1d09a7ffaf20c3e1"
            ]
        ]
    },
    {
        "id": "1d09a7ffaf20c3e1",
        "type": "change",
        "z": "4e5980765b3b01db",
        "g": "0c68598919b2722c",
        "name": "BackLogIn",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"tab\": \"Login\" }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 380,
        "wires": [
            [
                "0655ae150a96f5b7"
            ]
        ]
    },
    {
        "id": "0655ae150a96f5b7",
        "type": "link out",
        "z": "4e5980765b3b01db",
        "g": "0c68598919b2722c",
        "name": "ControlUI",
        "mode": "link",
        "links": [
            "baca40bda0b4d1b0"
        ],
        "x": 1175,
        "y": 380,
        "wires": []
    },
    {
        "id": "c914ecd72b5dca3c",
        "type": "comment",
        "z": "4e5980765b3b01db",
        "g": "0c68598919b2722c",
        "name": "Force return LogIn",
        "info": "",
        "x": 1090,
        "y": 300,
        "wires": []
    }
]